@import 'tailwindcss';

@plugin "@tailwindcss/typography";

@font-face {
  font-family: 'Unica77';
  src: url('/fonts/Unica77LLTrialWeb-Thin.woff2') format('woff2');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Unica77';
  src: url('/fonts/Unica77LLTrialWeb-ThinItalic.woff2') format('woff2');
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Unica77';
  src: url('/fonts/Unica77LLTrialWeb-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Unica77';
  src: url('/fonts/Unica77LLTrialWeb-LightItalic.woff2') format('woff2');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Unica77';
  src: url('/fonts/Unica77LLTrialWeb-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Unica77';
  src: url('/fonts/Unica77LLTrialWeb-Italic.woff2') format('woff2');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Unica77';
  src: url('/fonts/Unica77LLTrialWeb-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Unica77';
  src: url('/fonts/Unica77LLTrialWeb-MediumItalic.woff2') format('woff2');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Unica77';
  src: url('/fonts/Unica77LLTrialWeb-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Unica77';
  src: url('/fonts/Unica77LLTrialWeb-BoldItalic.woff2') format('woff2');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Unica77';
  src: url('/fonts/Unica77LLTrialWeb-Black.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Unica77';
  src: url('/fonts/Unica77LLTrialWeb-BlackItalic.woff2') format('woff2');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Unica77';
  src: url('/fonts/Unica77LLTrialWeb-ExtraBlack.woff2') format('woff2');
  font-weight: 950;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Unica77';
  src: url('/fonts/Unica77LLTrialWeb-ExtraBlackItalic.woff2') format('woff2');
  font-weight: 950;
  font-style: italic;
  font-display: swap;
}

@layer base {
  html, body {
    font-size: 13px;
    line-height: 20px;
    transition: background-color 400ms ease;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-medium tracking-tight;
    font-size: inherit;
    line-height: inherit;
  }

  ul, ol {
    list-style: none;
    padding: 0;
    margin: 0;
  }
}

@utility container {
  margin: 0 auto;
  padding: 0 2rem;
}

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --surface: #fff;
  --surface-secondary: #f6f6f8;
  --surface2: rgba(0,0,0,0.8);
  --accent: #14b8a6;
  --overlay: rgba(200,200,200,1);
  --overlay-blur: 2px;
  --text-primary: rgba(0,0,0,0.8);
  --text-secondary: rgba(0,0,0,0.3);
  --label-color: #fff;
  --hover-slot: rgba(0,0,0,0.05);
  --border-subtle: rgba(0,0,0,0.04);
  --border-form: rgba(0,0,0,0.1);
  --pill-bg: rgba(255,255,255,0.8);
  --disabled-page: #2f2f2f;
  --divider: rgba(0,0,0,0.1);
  --button-solid: rgba(0,0,0,0.8);
  --button-solid-text: #fff;
}

.dark {
  --surface: #0b0b0b;
  --surface-secondary: #1b1d27;
  --surface2: rgba(255,255,255,0.8);
  --accent: #ff2bd6;
  --overlay:  rgba(20,20,20,1);
  --overlay-blur: 2px;
  --text-primary: rgba(255,255,255,0.9);
  --text-secondary: rgba(255,255,255,0.5);
  --label-color: #0b0b0b;
  --hover-slot: rgba(255,255,255,0.05);
  --border-subtle: rgba(255,255,255,0.04);
  --border-form: rgba(255,255,255,0.1);
  --pill-bg: rgba(50,50,50,0.8);
  --disabled-page: #d0d0d0;
  --divider: rgba(255,255,255,0.1);
  --button-solid: rgba(50,50,50,1);
  --button-solid-text: #fff;
}

@theme {
  --font-size-sm: 15px;
  --font-size-sm--line-height: 20px;

  --shadow-layer: 0 35px 60px -15px rgba(0, 0, 0, 0.3);

  --color-framework: #000;
  --color-black: #0b0b0b;
  --color-white: #fff;
  --color-brand: #f50;
  --color-blue: #0052ff;
  --color-yellow: #cdea19;
  --color-gray-50: #f6f6f8;
  --color-gray-100: #eeeef1;
  --color-gray-200: #e3e4e8;
  --color-gray-300: #bbbdc9;
  --color-gray-400: #9499ad;
  --color-gray-500: #727892;
  --color-gray-600: #515870;
  --color-gray-700: #383d51;
  --color-gray-800: #252837;
  --color-gray-900: #1b1d27;
  --color-gray-950: #13141b;

  --border-color-default: oklch(0.65 0.02 240);

   --color-stroke-one: #eeeef1;

   --color-dark-1: var(--text-primary);
   --color-dark-2: var(--text-secondary);

   --color-tl1: rgba(200,200,200,1);
   --color-tl2: rgba(200,200,200,0.5);
   --color-labelcolor: var(--label-color);

   --color-tgreen: #7edeb5;
   --color-tred: #f4a783;
   --color-subtle: rgba(0,0,0,0.02);
   --color-disabled-page: var(--disabled-page);

  --color-activeslot:rgba(0,0,0,0.2);
  --color-hoverslot: var(--hover-slot);

  --color-surface: var(--surface);
  --color-surface-secondary: var(--surface-secondary);
  --color-surface2: var(--surface2);
  --color-accent: var(--accent);
  --color-overlay: var(--overlay);
  --color-pill: var(--pill-bg);
  --color-border-subtle: var(--border-subtle);
  --color-border-form: var(--border-form);
  --color-divider: var(--divider);
  --color-button-solid: var(--button-solid);
  --color-button-solid-text: var(--button-solid-text);


  --font-display: 'Unica77', 'Helvetica', 'Arial', sans-serif;
  --font-sans: 'Unica77', 'Helvetica', 'Arial', sans-serif;


  --default-transition-duration: 250ms;
}

@layer base {
  * {
    scrollbar-width: none;
    -ms-overflow-style: none;
  }

  *::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
}
